#### FEATURE ENGINEERING :
-----------------------------
     feature engineering is the process of converting raw data into meaningful numerical features so that a machine learning model can understand patternss and make better predictions.
     
#### 1) FEATURE EXPLORATION :
------------------------------
     the process of analyzing and visualizing features to uncover patterns, distributions, correlations, and potential issues in the dataset before applying machine learning.
     
#### 2) FEATURE CREATION :
-----------------------------
       the procss of ganerating new meaningful features from existing data using domain knowledge or mathematical operations to help the model learn better patterns.
       
#### 3) FEATURE ENCODING :
-----------------------------
       the process of converting categorical or non-numeric features into numeric from so machine learning models can process them effectively.
       
#### 4) FEATURE SCALING :
---------------------------
 the process of transforming numerical features to a standard range or distribution so that no feature dominates the learning procss due to its scale
 
#### 5) FEATURE SELECTION :
-----------------------------
        the process of identifying and keeping only the most relevant features while removing irrelevant or redundant ones to improve model performance and reduce overfitting.
        
#### FEATURE CREATION (ADDS INTELLIGENCE) :
    
      Definition :
     ------------  
     feature creation is the procss of craeting new fatures from existing data using domain knowledge and mathematical operations to help the model learn better patterns.
      
     why it is important :
     --------------------
     * raw data may not show hidden relationships
     * new features provide extra information
     * models cannot think logically - features guide learning
     
     common types of feature creation :
     --------------------------------
     * domain based features ( real-world logic)
     * mathematical combinations (sum,average,ratio)
     * interaction features (combined effect of features)
     * polynomial features (non-linear relationships)
     
     example:
     --------
    * total marks = math + science
    * efficiency = total marks / study hours
    
    impact on model:
    ----------------
    * improves accuracy 
    * helps models capture complex patterns
    * makes simples model perform better

### feature creation :

In [2]:
import pandas as pd
df=pd.DataFrame({
    "study hours":[2,4,6,8,10],
    "attendance":[60,70,80,90,95],
    "maths":[40,55,65,75,80],
    "science":[42,58,68,78,88]
    
})
df

   study hours  attendance  maths  science
0            2          60     40       42
1            4          70     55       58
2            6          80     65       68
3            8          90     75       78
4           10          95     80       88

### domain-based features

In [10]:
df["total-marks"] =df["maths"] + df["science"]
df

   study hours  attendance  maths  science  total-marks  marks_per_hour
0            2          60     40       42           82       41.000000
1            4          70     55       58          113       28.250000
2            6          80     65       68          133       22.166667
3            8          90     75       78          153       19.125000
4           10          95     80       88          168       16.800000

### mathematical feature

In [11]:
df["marks_per_hour"] =df["total-marks"]/df["study hours"]
df

   study hours  attendance  maths  science  total-marks  marks_per_hour
0            2          60     40       42           82       41.000000
1            4          70     55       58          113       28.250000
2            6          80     65       68          133       22.166667
3            8          90     75       78          153       19.125000
4           10          95     80       88          168       16.800000

### interaction feature

In [12]:
df["study_attendance_interaction"] =df["study hours"] + df["attendance"]
df

,study hours,attendance,maths,science,total-marks,marks_per_hour,study_attendance_interaction
0,2,60,40,42,82,41.000000,62
1,4,70,55,58,113,28.250000,74
2,6,80,65,68,133,22.166667,86
3,8,90,75,78,153,19.125000,98
4,10,95,80,88,168,16.800000,105

### polynomial feature

In [13]:
df["study_hour_squared"] = df["study hours"]

In [14]:
df

,study hours,attendance,maths,science,total-marks,marks_per_hour,study_attendance_interaction,study_hour_squared
0,2,60,40,42,82,41.000000,62,2
1,4,70,55,58,113,28.250000,74,4
2,6,80,65,68,133,22.166667,86,6
3,8,90,75,78,153,19.125000,98,8
4,10,95,80,88,168,16.800000,105,10

df["study_hour_squared"] = df["study hours"]**2

In [15]:
df

,study hours,attendance,maths,science,total-marks,marks_per_hour,study_attendance_interaction,study_hour_squared
0,2,60,40,42,82,41.000000,62,2
1,4,70,55,58,113,28.250000,74,4
2,6,80,65,68,133,22.166667,86,6
3,8,90,75,78,153,19.125000,98,8
4,10,95,80,88,168,16.800000,105,10

###  feature selection :

     definition :
    ------------
    feature selection is the process of selecting only relevant features and removing irrelevant or redundant ones to improve model performance
    
    why it remove noise :
    --------------------
    * too many featutres confuse the model
    * irrelevant feature cause overfitting
    * noise reduc prediction accuracy
    
    types of selections :
    --------------------
    * filter methods(correlation, chi-square)
    * wrapper methods (forward, backward, RFE)
    * embedded methods (lasso,tree-based models)
    
    example:
    --------
    * removing weakly correlated features
    * dropping features with zero importance
    * selecting top features using RFE(recursuive feature elimination)
    
    impact on model:
    ---------------
    * reduc overfitting
    * improves generalization
    * speeds up training

In [16]:
df

,study hours,attendance,maths,science,total-marks,marks_per_hour,study_attendance_interaction,study_hour_squared
0,2,60,40,42,82,41.000000,62,2
1,4,70,55,58,113,28.250000,74,4
2,6,80,65,68,133,22.166667,86,6
3,8,90,75,78,153,19.125000,98,8
4,10,95,80,88,168,16.800000,105,10

In [17]:
x=df.drop("science", axis=1)
y=df["science"]
x

,study hours,attendance,maths,total-marks,marks_per_hour,study_attendance_interaction,study_hour_squared
0,2,60,40,82,41.000000,62,2
1,4,70,55,113,28.250000,74,4
2,6,80,65,133,22.166667,86,6
3,8,90,75,153,19.125000,98,8
4,10,95,80,168,16.800000,105,10

In [18]:
y

0    42
1    58
2    68
3    78
4    88
Name: science, dtype: int64

### filter methods(statistical -based)

#### correlation method :

In [19]:
df.corr()["science"].sort_values(ascending=False)

science                         1.000000
total-marks                     0.998981
maths                           0.995467
study_attendance_interaction    0.995048
study hours                     0.994309
study_hour_squared              0.994309
attendance                      0.994110
marks_per_hour                 -0.968737
Name: science, dtype: float64

### selecting important features

In [20]:
corr =df.corr()["science"].abs() ## abs antey negative values ni +ve loki convert chesthadhi
corr

study hours                     0.994309
attendance                      0.994110
maths                           0.995467
science                         1.000000
total-marks                     0.998981
marks_per_hour                  0.968737
study_attendance_interaction    0.995048
study_hour_squared              0.994309
Name: science, dtype: float64

In [21]:
selected_features = corr[corr>0.8].index
selected_features

Index(['study hours', 'attendance', 'maths', 'science', 'total-marks',
       'marks_per_hour', 'study_attendance_interaction', 'study_hour_squared'],
      dtype='object')